
  {{#each ofertas}}
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <img src="{{imagen}}" class="imagen-de-oferta">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="tiempo-transcurrido">{{tiempoTranscurrido}}</div>
          </div>
          <div class="col-xs-2"><div class="boton-escuchar"></div></div>
          <div class="col-xs-2"><div class="boton-compartir"></div></div>
        </div>
      </div>
    </div>
  {{/each}}
