<div class="row">
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10	col-xl-10">
		<input placeholder="Escribe aquí" type="text" id="campoDeEntrada" class="form-control" >
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2	col-xl-2">
		<button id="enviar" class="btn btn-default"></button>
	</div>
</div>
<style>
	.panel-body
	{
		height: 350px;
		overflow: scroll
	}
</style>

<script>

$(function(){
	function initChats()
	{
		var chat = $(".chat");
		var conversation = $("#conversation");
		var campoDeEntrada = $("#campoDeEntrada");
		var mensajeDeAgente = $('<li class="other"><div class="msg"><p></p><time>20:17</time></div></li>');
		var mensajeDeUsuario = $('<li class="self"><div class="msg"><p></p><time>20:17</time></div></li>');
		var botonDeEnviarMensaje = $("#enviar");
		
		botonDeEnviarMensaje.click(function(){
		
			enviarAlServer({ textoAEnviar:campoDeEntrada.val() });
			
		});
		
		campoDeEntrada.keypress(function(e) {
			if(e.which == 13) 
			{
				enviarAlServer({ textoAEnviar:campoDeEntrada.val()});
			}
		});
		
		enviarAlServer({sePuedenEnviarVaciosAlServer:true, imprimirElMensajeQueElUsuarioEscribioEnLaConversacion:false, textoAEnviar:"Hola"});
		
		function enviarAlServer(param)
		{
			var sePuedenEnviarVaciosAlServer = ( param.sePuedenEnviarVaciosAlServer == undefined ) ? false : true;
			var imprimirElMensajeQueElUsuarioEscribioEnLaConversacion = ( param.imprimirElMensajeQueElUsuarioEscribioEnLaConversacion == undefined ) ? true : false;
			var textoAEnviar = param.textoAEnviar;
					
			if( ! sePuedenEnviarVaciosAlServer && textoAEnviar == "") return	
			if( imprimirElMensajeQueElUsuarioEscribioEnLaConversacion )
			{
				var mensaje = mensajeDeUsuario.clone();
				mensaje.find(".msg p").html(textoAEnviar);
				campoDeEntrada.val("");
				conversation.append(mensaje);
				
				moveScrollParaAbjoEnFuncionDelUltimoMEnsaje();
			}
			
			$.ajax({
				type: "POST",
				contentType :"text/plain; charset=UTF-8",
				dataType : "json",
				url : serverDomain+"/conversacion/{{pathDelServidor}}/",
				data : textoAEnviar
			})
			.done(function( data ) 
			{
				var respuesta = mensajeDeAgente.clone();
				respuesta.find(".msg p").html(data.texto);
				conversation.append(respuesta);
				
				moveScrollParaAbjoEnFuncionDelUltimoMEnsaje();
			})
			.fail(function(XMLHttpRequest, textStatus, textStatus) 
			{
				console.log(JSON.stringify(XMLHttpRequest));
				console.log(XMLHttpRequest.responseJSON.exception);
				if( XMLHttpRequest.responseJSON.exception.includes("NoSessionException") )
				{
					var html = Handlebars.templates.layout(pantallas["login"]);
					$(".app").html(html);
				}
			});
			
		}
		function moveScrollParaAbjoEnFuncionDelUltimoMEnsaje()
		{
			//console.log(chat.parent().height()+"  "+chat.parent()[0].scrollHeight+"   "+$(chat.parent()[0]).html());
			chat.parent().scrollTop(chat.parent()[0].scrollHeight);
		}

	}
	initChats();

});
</script>