<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row bck-red">
			<div class="col-sm-4 col-md-4 col-lg-4	col-xl-4">
				<div class="header-menu-icon" ></div>	
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4	col-xl-4"> 
				<img src="img/logo.png">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4	col-xl-4">
				<div class="header-chat-icon" />
			</div>
		</div>
		<div class="row title">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12	col-xl-12">
				{{title}}
			</div>
		</div>
	</div>
	<div class="panel-body">
		{{{body}}}
	</div>
</div>
{{{DebajoDelPanel}}}
