<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row bck-red">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2	col-xl-2">
				<div class="header-menu-icon" ></div>	
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8	col-xl-8"> 
				<img src="img/logo.png">
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2	col-xl-2">
				<div data-href="chats" class="header-chat-icon clickable" />
			</div>
		</div>
		<div class="row title">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12	col-xl-12">
				{{title}}
			</div>
		</div>
	</div>
	<div class="panel-body">
		{{{body}}}
	</div>
</div>
{{{DebajoDelPanel}}}
