<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row bck-red">
			<div class="col-xs-2">
				<div data-accion="mostrar-menu" class="header-menu-icon clickable" ></div>	
			</div>
			<div class="col-xs-2">
				<div data-href="chats" class="header-chat-icon no-logueado clickable" />
			</div>
			<div class="col-xs-5"> 
				<img src="img/logo-header.png" class="logo-header clickable" data-href="ofertas">
			</div>
			<div class="col-xs-3 contenedor-boton-ingresar">
				<div data-href="login" class="botonDeIngresar clickable text-right">INGRESAR</div>
			</div>
			<div class="col-xs-2 col-xs-offset-1 chat-icon-logueado" style="display: none;">
				<div data-href="chats" class="header-chat-icon clickable" />
			</div>
		</div>
		<div class="row title">
			<div class="col-xs-12" id="titulo-de-pantalla">
				{{title}}
			</div>
		</div>
	</div>
	<div class="panel-body">
		{{{body}}}
	</div>
</div>
{{{DebajoDelPanel}}}
