<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row bck-red">
			<div class="col-xs-2">
				<div class="header-menu-icon" ></div>	
			</div>
			<div class="col-xs-2">
				<div data-href="chats" class="header-chat-icon clickable" />
			</div>
			<div class="col-xs-4"> 
				<img src="img/logo.png">
			</div>
			<div class="col-xs-4">
				<div data-href="login" class="botonDeIngresar clickable" >Ingresar</div>
			</div>
		</div>
		<div class="row title">
			<div class="col-xs-12" id="titulo-de-pantalla">
				{{title}}
			</div>
		</div>
	</div>
	<div class="panel-body">
		{{{body}}}
	</div>
</div>
{{{DebajoDelPanel}}}
