<form id="formLogin">
	<div class="row">
		<div class="col-xs-12">
			<div id="image-container" class="text-center">
				<img alt="Logo Banco Atlantida" src="img/logo-BA-rojo.png" class="img-responsive imagen-centrada"/>
			</div>
		</div>
	</div>
	<div class="row" style="height: 100px;"><div class="col-xs-12"></div></div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<input placeholder="Usuario" type="text" id="name" name="name" class="form-control" autofocus>
		</div>
	</div>
	<div class="row" style="height: 40px;"><div class="col-xs-12"></div></div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<input placeholder="Contraseña" type="password" id="password"name="password" class="form-control" >
		</div>
	</div>
	<div class="row" style="height: 60px;"><div class="col-xs-12"></div></div>
	<div class="row">
		<div class="col-xs-12 form-group text-center">
			<button class="btn form-control">Continuar</button>
		</div>
	</div>
	<div class="alert alert-danger" style ="display:none;" role="alert"></div>
	<div class="row" style="height: 300px;"><div class="col-xs-12"></div></div>
</form>
<style>
	
</style>

<script>

$(function(){
	function initLogin()
	{
		$("#formLogin").submit(function(e) 
		{
			ajax({
				type: "POST",
				url: serverDomain + "/movil/login",
				data: $(this).serialize(),
				done: function(data) 
				{
					setCookie('mostrarpopupdeconocerte', false, 0);
					$(".app #ofertas").html(Handlebars.templates.layout(pantallas["ofertas"]));
					establecerBienvenida(data.usuarioEstaLogueado, data.usuarioNombre);
					bindClickeable();
					estaLogueado = true;
					cambiarVista(ventanaActual, true);
					cargarInformacionDelUsuario();
				},
				fail: function(XMLHttpRequest, textStatus, textStatus) 
				{
					if( XMLHttpRequest.responseJSON.exception.includes("CredencialesInvalidosException") )
					{
						var alert= $(this).find(".alert");
					}
				}
			});
			e.preventDefault();
		});

	}/*CredencialesInvalidosException*/
	initLogin();

});
</script>