<form id="formLogin">
	<div class="row">
		<div class="col-xs-12 form-group">
			<label>Nombre</label>
			<input placeholder="" type="text" id="name" name="name" class="form-control" autofocus>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<label>Password</label>
			<input placeholder="" type="password" id="password"name="password" class="form-control" >
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<button class="btn form-control">Enviar</button>
		</div>
	</div>
	<div class="alert alert-danger" style ="display:none;" role="alert"></div>
</form>
<style>
	
</style>

<script>

$(function(){
	function initLogin()
	{
		$("#formLogin").submit(function(e) 
		{
			ajax({
				type: "POST",
				url: serverDomain + "/movil/login",
				data: $(this).serialize(),
				done: function( data ) 
				{
					console.log("Ya se mandaron a pedir ofertas");
					setCookie('mostrarpopupdeconocerte', false, 0);
					cargarOfertas();
					//location.reload();
					cambiarVista("chat");
				},
				fail: function(XMLHttpRequest, textStatus, textStatus) 
				{
					if( XMLHttpRequest.responseJSON.exception.includes("CredencialesInvalidosException") )
					{
						var alert= $(this).find(".alert");
					}
				}
			});
			e.preventDefault();
		});

	}/*CredencialesInvalidosException*/
	initLogin();

});
</script>