<form id="formLogin" method="POST">
	<div class="row">
		<div class="col-xs-12 form-group">
			<label>Nombre</label>
			<input placeholder="" type="text" id="name" name="name" class="form-control" autofocus>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<label>Password</label>
			<input placeholder="" type="password" id="password"name="password" class="form-control" >
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<button class="btn form-control">Enviar</button>
		</div>
	</div>
	<div class="alert alert-danger" style ="display:none;" role="alert"></div>
</form>
<style>
	
</style>

<script>

$(function(){
	function initLogin()
	{
		$("#formLogin").submit(function(e) 
		{
			var url = serverDomain+"/movil/login"; 

			ajax({
				type: "POST",
				url: url,
				contentType: "application/x-www-form-urlencoded; charset=UTF-8",
				data: $(this).serialize(),
				success: function(){},
				done: function( data ) 
				{
					cambiarVista("chats");
				
				},
				fail: function(XMLHttpRequest, textStatus, textStatus) 
				{
					if( XMLHttpRequest.responseJSON.exception.includes("CredencialesInvalidosException") )
					{
						var alert= $(this).find(".alert");
					}
				}
			});
			e.preventDefault();
		});

	}/*CredencialesInvalidosException*/
	initLogin();

});
</script>