<form id="formLogin">
	<div class="row mensaje-bienvenida-login"><div class="col-xs-12 text-center">Nuestra Asesora Bancaria Interactiva te da la bienvenida, ingresa con tus credenciales de Atl&aacute;ntida Online.</div></div>
	<div class="row" style="height: 25px;"><div class="col-xs-12"></div></div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<input placeholder="Usuario" type="text" id="name" name="name" class="form-control" autofocus>
		</div>
	</div>
	<div class="row" style="height: 40px;"><div class="col-xs-12"></div></div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<input placeholder="Contraseña" type="password" id="password" name="password" class="form-control" >
		</div>
	</div>
	<div class="row contenedor-centrado" style="height: 60px;"><div class="col-xs-12 text-center"><span id="contenedor-de-mensajes-login"></span></div></div>
	<div class="row">
		<div class="col-xs-12 form-group text-center">
			<button class="btn form-control">Continuar</button>
		</div>
	</div>
	<div class="alert alert-danger" style ="display:none;" role="alert"></div>
	<div class="row" id="fondo-del-login" style="height: 300px;"></div>
</form>

<script>

$(function(){
	function initLogin()
	{
		$("#login .botonDeIngresar").remove();
		
		actualizarDimensiones();
		
		$("#formLogin").submit(function(e) 
		{
			$("body").append("<div id='overlay' style='position:absolute;top:0;left:0;height:100%;width:100%;z-index:999'></div>");
			
			$("#contenedor-de-mensajes-login").html("");
			
			ajax({
				type: "POST",
				url: serverDomain + "/movil/login",
				data: $(this).serialize(),
				done: function(data) 
				{
					estaLogueado = true;
					
					cargarInformacionDelUsuario();
					$("#overlay").remove();
					cambiarVista(vistaActual, true);
					validateSession = setInterval(session_checking, 60000);					
				},
				fail: function(XMLHttpRequest, textStatus, errorThrown) 
				{
					$("#overlay").remove();
					$("#contenedor-de-mensajes-login").html(XMLHttpRequest.responseText);
				}
			});
			e.preventDefault();
		});

	}
	initLogin();

});
</script>