<div class="row">
	<div class="col-xs-12 contenedor-de-mensaje-bienvenida">
		<p><strong>¡Hola!</strong></p><br>
		<p>¿Sab&iacute;as que si inicias sesi&oacute;n puedes tener acceso a <strong>m&uacute;ltiples beneficios</strong> que tenemos disponibles especialmente para ti?</p>
		<br>
	</div>
</div>

<div class="contenedor-de-ofertas">
</div>
<div id="contenedor-mostrar-mas" style="display: none">
	<br>
	<div class="row">
		<div class="col-xs-12 text-center">
			<span id="mostrar-mas">Mostrar más</span>
		</div>
	</div>
</div>

<script type="text/javascript">
var pagina = 1;

function evaluarVerMas()
{
	ajax({
		url: serverDomain + "/ofertas/cantidad",
		done: function(data)
		{
			cargarOfertas();
			var cantidadDeOfertasMostradas = pagina * 10;
			if(data.cantidad > cantidadDeOfertasMostradas)
			{
				$("#contenedor-mostrar-mas").show();
			}
			else
			{
				$("#contenedor-mostrar-mas").remove();
			}
		}
	});
}

evaluarVerMas();

$("#mostrar-mas").on("click", function()
{
	evaluarVerMas();
	pagina++;
});

function bindAcciones()
{
	$("#ofertas .datos-de-oferta").off("click").on("click", function()
	{
		$("#oferta .panel-body").html("");
		cambiarVista("oferta", true);
		var id = $(this).attr("id");
		ajax({
			url: serverDomain + "/ofertas/" + id,
			done: function(data)
			{
				$("#oferta .panel-body").html(Handlebars.templates.oferta(data));
	
				$("#oferta .boton-escuchar-oferta").off("click").on("click", function()
				{
					agregarCarga();
					agregarAColaDeReproduccion($(this).data("audio"));
				});
	
				$("#oferta .boton-compartir").off("click").on("click", function()
				{
					setTimeout(compartir($(this).data("id"), $(this).data("path"), $(this).data("titulo")), 0);
				});
				
				$("#oferta .imagen-de-oferta").each(function()
				{
					var path = serverDomain + $(this).attr("src");
					$(this).attr("src", path);
				});
	 		}
		});
	});
	
	$("#ofertas .boton-like, #ofertas .boton-dislike").off("click").on("click", function()
	{
		var parent = $(this).parent().parent();
		var idDeLaOferta = $(this).data("id");
		var activo = parent.find(".estado-1");
		if(activo.attr('class') != $(this).attr('class')) {
			activo.addClass("estado-0").removeClass("estado-1");
		}
		$(this).toggleClass("estado-1").toggleClass("estado-0");
		var esLike = parent.find(".boton-like").hasClass("estado-1");
		var esDislike = parent.find(".boton-dislike").hasClass("estado-1");
		var reaccion = null;
		if(esLike)
		{
			reaccion = true;
		}
		else if(esDislike)
		{
			reaccion = false;
		}
		ajax({
			type: "POST",
			url: serverDomain + "/reaccion/oferta",
			data:
			{
				idOferta: idDeLaOferta,
				reaccion: reaccion
			}
		});
	});
	
	$("#ofertas .boton-escuchar").off("click").on("click", function()
	{
		agregarCarga();
		if(deviceType != "iPad" && deviceType != "iPhone")
		{
			agregarAColaDeReproduccion($(this).data("audio"));
		}
		else
		{
			var audio = new Audio();
			audio.src = serverDomain + $(this).data("audio");
			audio.onplay = quitarCarga;
			audio.play();
		}
	});
	
	$("#ofertas .boton-compartir").off("click").on("click", function()
	{
		setTimeout(compartir($(this).data("id"), $(this).data("path"), $(this).data("titulo")), 0);
	});
}

function compartir(id, pathImagen, titulo)
{
	agregarCarga();
	var options = {
		message: titulo, // not supported on some apps (Facebook, Instagram)
		subject: titulo, // fi. for email
		files: [serverDomain + "/archivossubidos/" + pathImagen], // an array of filenames either locally or remotely
		url: serverDomain + "/ofertas/compartida/" + id,
		chooserTitle: 'Seleccione una aplicación' // Android only, you can override the default share sheet title
	}
	
	var onSuccess = function(result)
	{
		quitarCarga();
		console.log("Share completed? " + result.completed); // On Android apps mostly return false even while it's true
		console.log("Shared to app: " + result.app); // On Android result.app is currently empty. On iOS it's empty when sharing is cancelled (result.completed=false)
	}
	
	var onError = function(msg)
	{
		quitarCarga();
		console.log("Sharing failed with message: " + msg);
	}
	
	try
	{
		window.plugins.socialsharing.shareWithOptions(options, onSuccess, onError);
	}
	catch(err)
	{
		quitarCarga();
		$("#compartirNoSoportado").modal('show');
	}
}

function agregarDominioAImagenes()
{
	$("#ofertas .imagen-de-oferta").each(function()
	{
		var source = $(this).attr("src");
		var noTieneDominio = source.indexOf(serverDomain) < 0;
		if(noTieneDominio)
		{
			var path = serverDomain + source;
			$(this).attr("src", path);
		}
	});
}

function cargarOfertas()
{
	ajax({
		url: serverDomain + "/ofertas",
		data:
		{
			pagina: pagina
		},
		done: function(data)
		{
			console.log(data.resultados.length);
			$("#ofertas .contenedor-de-ofertas").append(Handlebars.templates.listaDeOfertas({ofertas: data.resultados}));
			bindAcciones();
			bindClickeable();
			agregarDominioAImagenes();
			pagina = data.indice.pagina;
		}
	});
}
</script>
