<div id="popupconocerte" class="modal fade" style="display:none;"role="dialog">
	<div class="modal-dialog modal-sm" style="background-color: white;">
		<div class="modal-body">
			 Permíteme conocerte, para ofrecerte mejores ofertas
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12">
					<button data-href="conocerte" data-after="quitarModal()" class="btn btn-default clickable">Si</button>
					<button data-after="quitarModal()" class="btn btn-default clickable">Ahora no</button>
				</div>
			</div>
		</div>
	</div>		
</div>
<script>
	$(function()
	{
		if( getCookie("mostrarpopupdeconocerte") == "" )
		{
			$("#popupconocerte").modal('show');
		}	
	});
</script>