<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE xml>
<widget id="io.ncubo.agentecognitivo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>ABI Atlántida</name>
	<description>
		Asistente Bancaria Interactiva del Banco Atlántida.
	</description>
	<author email="info@ncubo.com" href="http://www.ncubo.com/">
		NCubo Ideas
	</author>
	<content src="index.html" />
	<plugin name="cordova-plugin-whitelist" spec="1" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<platform name="android">
		<allow-intent href="market:*" />

		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi" />
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi" />
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi" />
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi" />

		<splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi" />
		<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi" />
		<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi" />
		<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />

		<splash src="res/screen/ios/ABIAtlantidaSplash@2x~universal~anyany.png" />
	</platform>
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="ShowSplashScreenSpinner" value="false"/>
	<preference name="SplashScreen" value="screen" />
</widget>
