<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE xml>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="io.ncubo.agentecognitivo" version="1.0.0">
    <name>ABI Atlántida</name>
    <description>
		Asistente Bancaria Interactiva del Banco Atlántida.
	</description>
    <author email="info@ncubo.com" href="http://www.ncubo.com/">
		NCubo Ideas
	</author>
    <content src="index.html"></content>
    <plugin name="cordova-plugin-whitelist" spec="1"></plugin>
    <access origin="*"></access>
    <allow-intent href="http://*/*"></allow-intent>
    <allow-intent href="https://*/*"></allow-intent>
    <allow-intent href="tel:*"></allow-intent>
    <allow-intent href="sms:*"></allow-intent>
    <allow-intent href="mailto:*"></allow-intent>
    <allow-intent href="geo:*"></allow-intent>
    <platform name="android">
        <allow-intent href="market:*"></allow-intent>
        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"></splash>
        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"></splash>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"></allow-intent>
        <allow-intent href="itms-apps:*"></allow-intent>
        <splash src="res/screen/ios/ABIAtlantidaSplash@2x~universal~anyany.png"></splash>
    </platform>
    <allow-navigation href="http://*/*"></allow-navigation>
    <allow-navigation href="https://*/*"></allow-navigation>
    <allow-navigation href="data:*"></allow-navigation>
    <preference name="SplashScreenDelay" value="10000"></preference>
</widget>