<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <base target="_parent" />
    
    <link rel="stylesheet" href="../bambu/public/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../bambu/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bambu/public/css/bandejaDeMensajes.css" />
    
    <script src="../bambu/public/js/jquery-3.2.1.min.js"></script>
    <script src="../bambu/public/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <script type="text/javascript">
    	function abrirPaginaDetalleDeMensaje(idBandejaMensaje)
    	{
        	window.open('detalleDeMensaje/' + idBandejaMensaje, '_blank');
    	}
    </script>
    <div class="container-fluid">
      <form method="post" action="#" id="formularioDeBandeja">
        <div class="contenedorPopup"></div>
        <div class="container-fluid contenedorBandejaMensajes">
          <div id="contenedorTitulo" class="row">
            <div class="col-md-12 px-4">
              <span class="estiloTituloPagina">Bandeja de Mensajes</span>
            </div>
          </div>
          <div id="contenedorNuevoMensaje" class="row">
            <div class="col-md-12 px-4">
              <div class="float-right">
                <a id="btnNuevoMensaje" class="btn btn-default btn-primary"  href="../BackOffice/nuevoMensaje">
                  <span>Nuevo Mensaje</span>
                </a>
              </div>
            </div>
          </div>
          <div id="contenedorBandeja" class="row">
            <div class="col-md-12 px-4">
              <nav id="opcionTabBandejaGeneral" class="nav nav-tabs" role="tituloBandejaGeneral">
                <a class="nav-item nav-link active" href="#tabBandejaGeneral" data-toggle="tab" role="tab" aria-controls="nav-bandeja" aria-selected="true">
                  <i class="fa fa-inbox" aria-hidden="true"></i>
                  <span>Bandeja general</span>
                </a>
              </nav>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="nav-bandeja" role="tabpanel" aria-labelledby="nav-bandeja-tab">
                  <div class="list-group">
                    <div id="divBandejaGeneral">
                      <div class="list-group-item mensajeEnFila" th:each="mensaje : ${mensajes}">
                        <div class="col-md-1 checkbox">
                          <input type="checkbox" class="checkItem" th:value="${mensaje.obtenerIdBandejaMensaje()}" 
                            th:onclick="|seleccionarMensaje(this, ${mensaje.obtenerIdBandejaMensaje()});|" />
                          <i th:id="'favorito' + ${mensaje.obtenerIdBandejaMensaje()}" class="fa fa-star-o float-right" 
                            aria-hidden="true" th:onclick="|marcarComoFavorito(this, ${mensaje.obtenerIdBandejaMensaje()});|"></i>
                        </div>
                        <img src="../bambu/public/img/BandejaMensaje/iconos contacto bambu-07.png" height="21" width="21" />
                        <div class="col-md-11" th:onclick="|abrirPaginaDetalleDeMensaje(${mensaje.obtenerIdBandejaMensaje()});|">
                          <div class="row">
                            <div class="col-md-3">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="" th:text="${mensaje.obtenerNombreCompletoCreador()}"></span>
                              <span class="text-muted" th:text="${mensaje.obtenerEmailCreador()}"></span>
                             </div>
                             <div class="col-md-3">
                               <i class="fa fa-pencil" aria-hidden="true"></i>
                               <span class="estiloTituloMensaje" th:text="${mensaje.obtenerNombreCompletoEncargado()}"></span>
                             </div>
                             <div class="col-md-2 divEmpresa" th:style="'color:' + ${mensaje.obtenerEmpresa().obtenerColor()}">
                               <i class="fa fa-home" aria-hidden="true"></i>
                               <span th:text="${mensaje.obtenerEmpresa().obtenerDescripcion()}"></span>
                             </div>
                             <div class="col-md-2">
                               <i class="fa" aria-hidden="true"></i>
                               <span th:if="${mensaje.obtenerFechaCreacion() != null}"
                                th:text="${#dates.format(mensaje.obtenerFechaCreacion(), 'dd-MM-yyyy')}"></span>
                             </div>
                             <div class="col-md-2">
                              <span class="badge badge-success float-right" 
                                th:if="${mensaje.obtenerTiempoTranscurrido() != null}"
                                th:text="${mensaje.obtenerTiempoTranscurrido()}"></span>
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>

</html>