<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/backoffice :: head (title='Insertar Oferta')">
	<meta charset="UTF-8"></meta>
</head>



<script>
var logoEstatus;
var imagenNegocio;
	$(document).ready(function()
	{	
		
		$("#imagen-publicidad-input").on("change", subirImagenPublicidad);
		$("#logo-comercio-input").on("change", subirImagenComercio);
		
		$("#vigenciaDesde-input").datepicker(
		{
			dateFormat : "yy-mm-dd",
			forceParse: false,
			beforeShow : function() {
				jQuery(this).datepicker('option', 'maxDate',
				jQuery('#vigenciaHasta-input').val());
			}
		});
		$("#vigenciaHasta-input").datepicker
		(
			{
				dateFormat : "yy-mm-dd",
				forceParse: false,
				beforeShow : function() {
					jQuery(this).datepicker('option', 'minDate',
					jQuery('#vigenciaDesde-input').val());
			}
		});
	});
	
	function subirImagenPublicidad()
	{
		var progressBarPublicidad = document.getElementById("progress-publicidad");
		var progreso = document.getElementById("progreso");
		if(progreso.style.visibility == 'hidden')
		{
			progreso.style.visibility = 'visible';
			
		}
		else if(progreso.style.visibility == 'visible')
		{
			$('#progress-publicidad').css('width', '0%').attr('aria-valuenow', 0);
		}
		$.ajax(
		{
			xhr: function() {
		
	        var xhr = new window.XMLHttpRequest();

	        // Upload progress
	        xhr.upload.addEventListener("progress", function(evt){
	            if (evt.lengthComputable) {
	                var percentComplete = evt.loaded / evt.total;
	                percentComplete = percentComplete * 100;

	                progressBarPublicidad.setAttribute("aria-valuenow",percentComplete);
	                progressBarPublicidad.style.width = percentComplete +'%';
	            }
	       }, false);

	       // Download progress
	       xhr.addEventListener("progress", function(evt){
	           if (evt.lengthComputable) {
	               var percentComplete = evt.loaded / evt.total;
	               // Do something with download progress
	               console.log(percentComplete);
	           }
	       }, false);

	       return xhr;
	    },
			url: "subirImagenPublicidad",
			type: "POST",
			data: new FormData($("#agregarOferta-form")[0]),
			enctype: 'multipart/form-data',
			processData: false,
			contentType: false,
			cache: false,
			success: function (data)
			{
				if(data == '')
				{
					$("#imagen-publicidad").val("");
				}
				else
				{
					$("#imagen-publicidad").val(data);
				}
			}
		});
	}
		
	function subirImagenComercio()
	{
		var divBarraDeProgreso = document.getElementById("div-progress-bar");
		var progressBar = document.getElementById("progress-bar-logo");
		if(divBarraDeProgreso.style.visibility == 'hidden')
		{
			divBarraDeProgreso.style.visibility = 'visible';
			
		}
		else if(divBarraDeProgreso.style.visibility == 'visible')
		{
			progressBar.removeAttribute('aria-valuenow');
			progressBar.style.width =  '0%';
		}
		$.ajax(
		{
			xhr: function() {
				
		        var xhr = new window.XMLHttpRequest();

		        // Upload progress
		        xhr.upload.addEventListener("progress", function(evt){
		            if (evt.lengthComputable) {
		                var percentComplete = evt.loaded / evt.total;
		                percentComplete = percentComplete * 100;

		                progressBar.setAttribute("aria-valuenow",percentComplete);
		                progressBar.style.width = percentComplete +'%';
		            }
		       }, false);

		       // Download progress
		       xhr.addEventListener("progress", function(evt){
		           if (evt.lengthComputable) {
		               var percentComplete = evt.loaded / evt.total;
		               // Do something with download progress
		               console.log(percentComplete);
		           }
		       }, false);

		       return xhr;
		    },
			
			
			url: "subirImagenComercio",
			type: "POST",
			data: new FormData($("#agregarOferta-form")[0]),
			enctype: 'multipart/form-data',
			processData: false,
			contentType: false,
			cache: false,
			success: function (data)
			{
				if(data == '')
				{
					$("#logo-comercio").val("");
				}
				else
				{
					$("#logo-comercio").val(data);
				}
			}
		});
	}
</script>
<style>
	
	.quitar-padding-left
	{
		padding-left: 0;
	}
	.agregar-padding-top
	{
		padding-top: 3%;
	}
	.sobresaltar-field
	{
		border-width: 3%;
		border-color: #3e61ac;
	}
	.agregar-padding-left
	{
		padding-left: 2%;
	}
	.asterisco
	{
		color: #3e61ac;
	}
	.campo-requerido
	{
		color: #3e61ac;
		font-family: 'Roboto', serif;
	}
</style>
<body>
	<div class="div-contenedor">
	
	<div th:include="fragments/header :: body"></div>
	<div th:include="fragments/backoffice :: body(paginaActual='insertarOferta')"></div>
	
	<div class="container agregar-padding-bottom">
		<form onsubmit="verificarSiSeCargaronLasImagenes()" id="agregarOferta-form" method="POST" th:action="@{/__${action}__}" th:object="${oferta}" action="#">
		<input type="hidden" id="id-comercio" th:field="*{idOferta}"/>
			<div id="agregarOferta">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="tituloOferta-lbl" class="titulo-ca"><span class="asterisco">*</span>Título de oferta</label>
							<input id="asd" type="text" class="form-control" th:field="*{tituloDeOferta}" th:classappend="${#fields.hasErrors('tituloDeOferta')} ? 'sobresaltar-field'"/>
							<p class="campo-requerido" th:if="${#fields.hasErrors('tituloDeOferta')}" th:errors="*{tituloDeOferta}"/>
						</div>
					</div>
					<div class="col-xs-6 quitar-padding-left">
						<div class="form-group">
							<label for="ciudad-lbl" class="titulo-ca"><span class="asterisco">*</span>Ciudad</label>
							<input type="text" class="form-control" th:field="*{ciudad}" th:classappend="${#fields.hasErrors('ciudad')} ? 'sobresaltar-field'"/>
							<p class="campo-requerido" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"/>
						</div>
					</div>
				</div>
				<div class="row">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label for="nombreComercio-lbl" class="titulo-ca"><span class="asterisco">*</span>Nombre del comercio</label>
							<input type="text" class="form-control" th:field="*{comercio}" th:classappend="${#fields.hasErrors('comercio')} ? 'sobresaltar-field'"/>
							<p class="campo-requerido" th:if="${#fields.hasErrors('comercio')}" th:errors="*{comercio}"/>
						</div>
					</div>
					<div class="col-xs-6 quitar-padding-left">
						<div class="col-xs-5">
							<div class="form-group">
								<label for="estado-lbl" class="titulo-ca">Estado</label><br/>
								<select class="form-control" th:field="*{estado}" style="width: 100%">
									<option value="1">Activa</option>
									<option value="0">Inactiva</option>
								</select>
							</div>
						</div>
						<div class="col-xs-7 agregar-padding-top">
							<div>
								<p class="notas-ca">Solo las ofertas con estado "activa" serán mostradas en la aplicación.</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="descripcion-lbl" class="titulo-ca"><span class="asterisco">*</span>Descripción</label>
							<textarea class="form-control" rows="4" th:field="*{descripcion}" th:classappend="${#fields.hasErrors('descripcion')} ? 'sobresaltar-field'"></textarea>
							<textarea style="display:none;" rows="4" th:field="*{descripcionAnterior}"></textarea>
							<p class="campo-requerido" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"/>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label for="restricciones-lbl" class="titulo-ca"><span class="asterisco">*</span>Restricciones</label>
							<textarea class="form-control" rows="4" th:field="*{restricciones}" th:classappend="${#fields.hasErrors('restricciones')} ? 'sobresaltar-field'"></textarea>
							<p class="campo-requerido" th:if="${#fields.hasErrors('restricciones')}" th:errors="*{restricciones}"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div>
							<p class="notas-ca">El usuario podrá escuchar esta descripción si presiona el botón de audio, pero no se despliega como texto en la pantalla.</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-5 quitar-padding-left" >
						<div class="col-xs-6 ">
							<div class="form-group">
								<label for="vigenciaDesde-lbl" class="titulo-ca"><span class="asterisco">*</span>Vigencia desde</label>
								<div class="inner-addon right-addon">
									<input type="text" class="form-control fechaInput" th:field="*{vigenciaDesde}" id="vigenciaDesde-input"
									th:classappend="${#fields.hasErrors('vigenciaDesde')} ? 'sobresaltar-field'" 
									/>
									<p class="campo-requerido" th:if="${#fields.hasErrors('vigenciaDesde')}" th:errors="*{vigenciaDesde}"/>
									<i class="glyphicon glyphicon-calendar"></i>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label for="vigenciaHasta-lbl" class="titulo-ca"><span class="asterisco">*</span>Hasta</label>
								<div class="inner-addon right-addon">
									<input type="text" class="form-control fechaInput" th:field="*{vigenciaHasta}" id="vigenciaHasta-input"
									th:classappend="${#fields.hasErrors('vigenciaHasta')} ? 'sobresaltar-field'"
									/>
									<p class="campo-requerido" th:if="${#fields.hasErrors('vigenciaHasta')}" th:errors="*{vigenciaHasta}"/>
									<i class="glyphicon glyphicon-calendar"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-7">
						<div class="col-xs-6">
							<div class="form-group">
								<label for="logo-label-lbl" class="titulo-ca"><span class="asterisco">*</span>Logo del comercio</label>
								<input id="logo-comercio-input" type="file" name="logo-comercio-input" accept="image/*"/>
								<p class="campo-requerido" th:if="${#fields.hasErrors('imagenComercioPath')}" th:errors="*{imagenComercioPath}"  id="validador-imagen-comercio"/>
							</div>
							<div class="col-xs-6">
								<div class="progress" id="div-progress-bar" style="visibility:hidden;">
										  <div id="progress-bar-logo" class="progress-bar progress-bar-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100" >
										 </div>
									</div>
							</div>
							
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label for="publicidad-label-lbl" class="titulo-ca"><span class="asterisco">*</span>Imagen de publicidad</label> 
								<input id="imagen-publicidad-input" type="file" name="imagen-publicidad-input" 
								accept=".zip,image/*"/>
								
								<p class="campo-requerido" th:if="${#fields.hasErrors('imagenPublicidadPath')}" th:errors="*{imagenPublicidadPath}"/>
							</div>
							<div class="col-xs-6">
									<div class="progress" id="progreso" style="visibility:hidden;">
									  <div id="progress-publicidad" class="progress-bar progress-bar-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100" >
									 </div>
								</div>
								</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="categoria-lbl" class="titulo-ca">A cúales categorías pertenece esta oferta:</label><br/>	
							<div th:each="categoria, categoriaStat : ${categorias}" class="row">
								<div class="col-xs-3"> 
									<div th:text="${categorias[__${categoriaStat.index}__].nombre}"  />
								</div>
								<div class="col-xs-3">
									<select class="form-control" th:field="*{categorias[__${categoriaStat.index}__].peso}">
										<option value="0">Para nada</option>
										<option value="1">Una parte</option>
										<option value="2">Completamente</option>
									</select>
								</div>
								<div class="col-xs-3"></div>
							</div>
						</div>
					</div>
				</div>
				
				<input type="hidden" id="logo-comercio" th:field="*{imagenComercioPath}"/>
				<input type="hidden" id="imagen-publicidad" th:field="*{imagenPublicidadPath}"/>
				
				<div class="row agregar-padding-top" align="center">
					<div class="col-xs-12">
						<div class="form-group">
							<button id="limpiar-submit" type="submit" class="btn btn-default agregar-padding-left" name="accion" value="limpiar">
								<span class="texto-junto-imagen">Cancelar</span>
								<span th:class="${imagenBotonSecundario}"></span>
							</button>
							<button id="ingresar-submit" type="submit" class="btn btn-default agregar-padding-left" name="accion" value="ingresar">
								<span class="texto-junto-imagen" th:text="${nombreBotonPrincipal}"></span>
								<span th:class="${imagenBotonPrincipal}"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="row" align="right">
					<label for="campo-requerido"><span class="campo-requerido">(*)Campo requerido</span></label> 
				</div>
			</div>
		</form>
	</div>
	<br/>
	</div>
	
	<div th:include="fragments/footer :: body"></div>
</body>

</html>