<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Ingreso al sistema</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <div th:if="${param.error}">
           	Usuario y/o contraseña incorrecta.
        </div>
        <div th:if="${param.logout}">
            Has sido deslogueado del sistema.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Usuario : <input type="text" name="username"/> </label></div>
            <div><label> Contraseña : <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>

        </form>
    </body>
</html>