<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Ingreso al sistema</title>
		<meta charset="UTF-8"/>
	
	<link rel="stylesheet" th:href="@{css/custom.css}"/>
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/>
	<style>
		body
		{
			background-color: #E92531;
		}
		#form-login
		{
			padding-top: 25%;
		}
		.form-control
		{
			border-radius: 0px;
		}
	</style>
	</head>
	<body>
		<div class="container">
			<div class="col-xs-12 col-md-2"></div>
				<div class="col-xs-12 col-md-4 col-md-offset-2" id="form-login">
					<div id="image-container" class="img-responsive text-center">
						<img alt="Logo Banco Atlantida" th:src="@{/img/logo-BA-rojo.png}"/>
					</div>
					<div class="alert alert-warning" th:if="${param.error}" style="margin-top: 10%;">
						Usuario y/o contraseña incorrecta.
					</div>
					<div class="alert alert-warning" th:if="${param.logout}" style="margin-top: 10%;">
						Has salido del sistema.
					</div>
					<form th:action="@{/login}" method="post" style="padding-top:10%;">
						<div class="form-group">
							<input class="form-control" type="text" name="username" placeholder="Usuario"/>
						</div>
						<div class="form-group">
							<input class="form-control"  type="password" name="password" placeholder="Contraseña"/>
						</div>
						<div class="form-group text-center">
							<button id="btn-enviar" class="btn btn-default" type="submit" >Entrar</button>
						</div>
					</form>
				</div>
			<div class="col-md-4"></div>
		</div>
	</body>
</html>