<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row header">
      <div class="col-md-4">
        <div class="header-menu-icon"></div>
      </div>
      <div class="col-md-4">
        <img src="img/logo.png">
      </div>
      <div class="col-md-4">
        <div class="header-chat-icon"></div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        {{title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    {{{body}}}
  </div>
</div>
{{{DebajoDelPanel}}}
