<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"></meta>
</head>

<body>
	<header th:fragment="header(paginaActual)">
		<div class="contenedor-header">
			<div class="container">
				<div class="row campos-header">
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-6 col-xs-offset-3">
								<form id="buscarComercio" th:action="@{/BackOffice/filtrarOfertas}" th:if="${paginaActual == 'gestionDeOfertas'}">
									<div class="form-group" align="right">
										<div class="inner-addon right-addon">
											<input type="text" class="form-control" placeholder="Búsqueda de comercios" id="busquedaComercio" name="busquedaComercio" value="" th:value="${busquedaComercio}"></input>
											<i class="glyphicon glyphicon-search"></i>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="row info-usuario">
							<div class="col-xs-5 col-xs-offset-6 text-right">
								<div sec:authorize="hasRole('ROLE_USER')">
									Usuario Backoffice
								</div>
							</div>
							<div class="col-xs-1">
								<div id="contenedor-imagen-usuario">
									<div class="btn-group">
										<img id="imagen-usuario" th:src="@{/img/footer.png}" class="dropdown-toggle imagen-dropdown" data-toggle="dropdown"></img>
										<ul class="dropdown-menu pull-left-menu" role="menu">
											<li>
												<div class="container text-center" style="max-width: 250px;">
													<div class="form-group">
														<span sec:authentication="name" id="nombre-usuario-label" style="color: black;"></span>
													</div>
													<div class="form-group">
														<form th:action="@{/logout}" method="post">
															<button type="submit" class="btn my-btn acomodar-padding-boton" style="min-width: 150px;">
																<span class="texto-junto-imagen">Salir</span>
																<span class="icono-menu-salir"></span>
															</button>
														</form>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 logo-header">
						<img th:src="@{/img/header-blanco.png}"></img>
					</div>
				</div>
			</div>
			<div class="relleno-blanco"></div>
		</div>
	</header>
</body>
</html>